.dashboard {
    height: 100%;
    width: 100%;
    padding: 24px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 24px;
}

/* div {
    border: 1px solid red;
} */

.dashboard .dashboard-header {
    grid-column: 1/3;
}

.stats-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 24px;
}

.stats-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 28px;
    gap: 10px;
    width: clamp(140px, 22vw, 260px);
    height: clamp(120px, 12vh, 140px);
    border: 1px solid var(--color-border-card);
    border-radius: 20px;
}

.stats-card > div > h2 {
    display: flex;
    line-height: 100%;
}

.dashboard-subtitle {
    display: block;
    border-bottom: 1px solid var(--color-border-card);
    line-height: 180%;
}


.today-reservations .reservation-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}

.reservation-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--color-border-card);
    border-radius: 20px;
    padding: 26px;
    cursor: pointer;
}

.reservation-card div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 24px;
}

.fast-actions-buttons-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
.fast-action-btn {
    text-align: start;
    width: 100%;
    background-color: var(--color-btn-primary);
    color: var(--color-background);
    padding: 14px 24px;
    border-radius: 16px;
    height: 50px;
}

.fast-actions-buttons-wrap .fast-action-btn:last-child {
    background: none;
    color: var(--color-btn-primary);
    outline: 1px solid var(--color-border-card);
    display: block;
    align-content: center;
}

.fast-action-btn:hover {
    background: var(--color-heading);
    outline: 1px solid var(--color-border-card);
    transition: 0.2s ease;
}

.fast-actions-buttons-wrap .fast-action-btn:last-child:hover {
    background: var(--color-heading);
    color: var(--color-background);
    transition: 0.2s ease;
}

@media (max-width: 768px) {

    .stats-grid {
        gap: 8px;
        justify-content: space-evenly;
    }

    .stats-card {
        padding: 6px 8px;
    }

    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto; 
    }

    .dashboard .dashboard-header {
        grid-column: 1;
    }

    .today-reservations,
    .fast-actions {
        grid-column: 1; 
        width: 100%;
    }

}